        <form name="filtroRoac" action="/ProyectoPANDORA/TrabajosRealizadosServlet" method="GET">
            
            <INPUT TYPE="TEXT" NAME="roac" size="10"/>
            <input type="submit" value="Consultar ROAC"/>
        </form>
